<div class="container mt-4 border shadow p-4">
    <div class="text-end"><button type="button" class="btn btn-outline-success rounded " (click)="addEmployee()">
            New Employee</button></div>
    <h4 class="text-center mb-3">EMPLOYEE LIST</h4>
    <table class="table">
        <thead>
            <tr class="text-center">
                <th>FIRSTNAME</th>
                <th>LASTNAME</th>
                <th>EMAIL</th>
                <th>MOBILE NO</th>
                <th>SALARY</th>
            </tr>
        </thead>
        <tbody>
        <tbody>
            <tr *ngFor="let item of employeeData" class="text-center">
                <td>  
                    {{item.firstName}}
                </td>
                <td>  
                    {{item.lastName}}
                </td>
                <td>  
                    {{item.email}}
                </td>
                <td>  
                    {{item.mobileNo}}
                </td>
                <td>  
                    {{item.salary}}
                </td>               
        </tbody>
    </table>
</div>