/* You can add global styles to this file, and also import other style files */
//Add bootstrap icon css file
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

// add vendor file
@import "assets/scss/vendor/index";
@import '@angular/cdk/overlay-prebuilt.css';

// Global styles goes here
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}
// font-family
body {
    font-family: "Poppins", sans-serif
}